# PlatformIO
.pio
.pioenvs
.piolibdeps

# VSCode / IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
.idea/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# Build artifacts & logs
*.log
*.bin
*.elf
*.hex
